.App {
  flex-grow: 1;
  overflow: hidden;
  height: 100%;

  .MenuButtonVisible {
    -webkit-app-region: no-drag;
    margin-right: 16px;
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }
  .MenuButtonInvisible {
    -webkit-app-region: drag;
    opacity: 0;
    transition: opacity 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  .TitleVisible {
    flex-grow: 1;
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }
  .TitleInvisible {
    flex-grow: 1;
    opacity: 0;
    transition: opacity 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  .LoginVisible {
    display: inherit;

    .App-UserSettings {
      width: 300px;
      display: flex;
      flex-direction: row;

      .App-SettingsButton {
        padding: 6px;
        width: 48px;
        height: 48px;
      }
      .App-WindowButton {
        background: #3f51b5;
        margin: 6px;
        padding: 6px;
        width: 36px;
        height: 36px;
      }

      .SpacerA {
        flex-grow: 1;
      }

      .App-Avatar {
        padding: 8px;

        .App-AvatarIcon {
          padding: 0px;
          width: 32px;
          height: 32px;
        }

        .Badge span {
          transform: translate(0, 0);
          height: 10px;
          width: 10px;
          border-radius: 5px;
        }
        .Badge-Online span {
          background-color: rgb(67, 181, 129);
        }
        .Badge-Offline span {
          background-color: rgb(150, 150, 150);
        }
        .Badge-Away span {
          background-color: rgb(250, 166, 26);
        }
        .Badge-DnD span {
          background-color: rgb(240, 71, 71);
        }
        .Badge-Error span {
          background-color: rgb(255, 0, 0);
        }
      }
    }
  }
  .LoginInvisible {
    display: none;
  }

  .AppBar {
    flex-grow: 1;
    margin-left: 0px;
    transition: margin-left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;

    .Toolbar {
      margin-right: 0px;
      transition: margin-right 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    }
  }

  .AppBarShift {
    flex-grow: 1;
    margin-left: 240px;
    transition: margin-left 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;

    .ToolbarShift {
      margin-right: 240px;
      transition: margin-right 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    }
  }
}
