.Profile {
  display: flex;

  .Drawer {
    width: 240px;
    flex-shrink: 0;

    .MenuButton {
      margin-right: 16px;
    }

    .DrawerPaper {
      width: 240px;
    }
  }

  .Content {
    padding: 16px;
    margin-left: 0px;
    transition: margin-left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  .ContentClosed {
    padding: 16px;
    margin-left: -240px;
    transition: margin-left 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }
}
